
body {
	background: #d2d6de;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
	cursor: pointer;
}
#preloader {
	position:absolute;
}

.hobby-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hobby-select::-ms-expand {
	display: none;
}

/*body::-webkit-scrollbar { width: 0 !important }*/

.empty-text {
	margin: 10px 0;
    color: #3C8DBC;
}

.fixed {
	position: fixed;
    width: 100%;
    bottom: 0
}

.main-header{
	position: fixed;
	width: 100%;
}
.skin-blue .wrapper {
    background-color: #ECF0F5;
}

.skin-blue .main-sidebar {
    background-color: #1A2226;
}

.main-sidebar {
	position: fixed;
	overflow: auto;
    height: 100%;
}

.main-sidebar::-webkit-scrollbar { 
    display: none; 
}

.main-footer {
	background: #4B5358;
    padding: 15px;
    color: #f4f4f4;
    border-top: 1px solid #d2d6de;
    /*display: none;*/
}
.main-footer:hover {
	/*display: block;*/
}
.content-wrapper {
	min-height: 85vh !important;
	margin-top: 50px;
	margin-bottom: 50px;
}

li + .no-items {
    display: none;
}

tr + .no-items {
    display: none;
}

.hide {
	display: none;
}
.hobbyShow {
	display: block !important;
}
.currency {
	padding: 5px;
}

.bottom-blue-border {
	border-bottom: 1px solid #00c0ef
}

.seperator{
	font-size: 18px;
    padding: 10px 0;
    border-bottom: 3px solid #00c0ef;
    margin-bottom: 15px;
}

.box-bottom-border {
	border-bottom: 3px solid #3C8DBC;.
	padding: 10px 0;
}

.btn-custom {
	width:50%;
	margin-top: 25px;
}

.map-wrapper {
	height: 100%;
}

#map {
	height: 500px;
	width: 100%;
}
/************************ Update Profile *****************/
.preview-profile-wrapper {
	text-align: center;
	background: #ddd;
	border-radius: 10px;
	padding: 15px;
	margin: 0 auto;text-align: center;
	background: #ddd;
	border-radius: 10px;
	padding: 15px;
	margin: 0 auto;
}
/*********************** Carousel **************************/

.carousel {
    background-color: #000;
}

.carousel-control.left,
.carousel-control.right,
.carousel-caption{
    opacity: 0;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    transition:0.3s all;
    opacity: 1;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.41);
}

.carousel-caption:hover {
	transition:0.3s all;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.35);
}

.carousel-caption p{
    font-size: 18px;
}

/************************************************************/

/*********************** Offer ********************/

.offer-item {
	margin: 15px 0;
}

.offer-actions{
	float:right;
}

.offer-item .product-title {
	font-size: 20px;
	color: #000;
}

.offer-item .product-description {
	width:70%;
	white-space: normal;
	color: #696363;
}

.label-offer {
	background-color: #4676BB;
}

.label-offer-x{
	font-size: 16px;
}

.offer-item-wrapper {
	border: 2px solid rgba(133, 148, 154, 0.54);
    padding: 10px;
    overflow: auto;
    min-height: 255px;
    background: rgba(210, 216, 222, 0.48);
} 

/************** Orders ****************/

.orders-list {
	list-style: none;
    margin: 0;
    padding: 0;
}

.order-item {
	overflow: auto;
    padding: 10px;
    border: 2px solid rgba(133, 148, 154, 0.54);
    background-color: rgba(210, 214, 222, 0.34);
    margin: 15px 0;
}
.order-img {
	float: left;
	height: 150px;
    border-right: 1px solid #A2C1DC;
    padding-right: 20px;
}

.order-info {
	float: left;
	height: 150px;
	margin-left: 20px;
}

.order-actions {
	float: right;
	height: 150px;
	padding-left: 18px;
    border-left: 1px solid #A2C1DC;
}

.order-number {
	background-color: #4676BB;
    font-size: 120%;
    border-radius: 0;
}

.order-img p {
	padding: 10px 0;
	text-align: center;
}

.order-img img {
	width:100px;
}

.order-price {
	font-size: 200%;
}

.order-status .label {
	font-size: 100%;
}

.order-delivery-date {
	color:#555;
}

.order-action-buttons button {
	display: inline-block;
}

.order-action-button {
	width: 48%;
    font-size: 16px;
    font-weight: 600;
}

.order-title {
	font-size: 200%;
}
.order-brand {
	font-size: 100%;
    color: #A29A9A;
}

.order-quantity {
	color: #656157;
    font-size: 120%;
}

.order-offer {
	color: #656157;
    font-size: 120%;
}

/***************************************/

/********** Order Details **************/
.orderdetails-wrapper{

	padding-bottom: 10px;
}
.orderdetails-img img {
	width: 60px;
    margin: 5px 0;
}

.orderdetails-title {
	font-size: 20px;
    margin: 0;
}
.orderdetails-price {
	font-size: 24px;
    margin: 0;
}

.orderdetails-action > p {

}

.orderdetails-date > span {
	font-size: 18px;
}

.orderdetails-payment > span {
	font-size: 18px;
}

.payment-status i {
	color: #00a65a;
    font-size: 24px;
}

.offer-code > span {
	font-size: 16px;
}

.orderdetails-savings {
	float:left;
	margin-left: 10px;
}

.orderdetails-savings > span {
	font-size: 22px;
}

.orderdetails-total {
	float: right;
	margin-right: 10px;
}

.orderdetails-total > span {
	font-size: 22px;
}

.orderdetails-status-wrapper {
	padding: 20px;
}

.orderdetails-status {
	padding: 0;
}

.track-title {
	border-right: 1px solid #00c0ef;
    font-size: 18px;
    border-left: 1px solid #00c0ef
}
.status-line {
	height: 60px;
    border-bottom: 5px solid #00c0ef;
    border-radius: 25%;
    margin-bottom: 20px;
    position: relative;
}

.status-dots {
	width: 15px;
    height: 15px;
    background-color: #3c8dbc;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 48%;
}

.status-info {
	text-align: center;
    border: 1px solid #00c0ef;
    margin: 40px 40px 10px 40px;
    padding: 20px;
}

.orderdetails-summary {
	padding: 10px 0;
}

/*****************************************************/

/****************** Shopping Cart ********************/

.shopping-cart-list {
	list-style: none;
    padding: 0;
}
.cart-item {
	padding:10px;
	border-bottom: 1px solid #00c0ef;
}
.item-title {
	font-size: 18px;
	margin: 0;
	cursor: pointer;
}
.item-old-price {
	font-size: 18px;
    text-decoration: line-through;
    color: #7D7D7D;
    font-weight: 500;
}
.item-price {
	font-size: 22px;
}
.item-offer {
	font-size: 16px;
}
.item-offer .label{
	margin-right: 5px;
}
.item-image img {
	/*width: 70px;*/
	margin: 5px 0;
}

/*******************************************************/

/******************** Product Details ******************/
.product-price-wrapper {
	padding: 30px;
	margin-bottom: 30px;
}

.product-price {
	font-size: 30px;
}

.productdetails-offer {
	font-size: 16px;
}

.add-to-cart-btn{
	margin-right: 30px;
	margin-top: 25px;
}
.product-info-wrapper {
	overflow: auto;
}
.productdetails-info{
	padding: 35px 10px;
}
.productdetails-quantity{
	width: 50%;
	padding: 10px;
}
/*******************************************************/

/******************* Purchase **************************/

.product-search {
	padding-bottom: 10px;
	border-bottom: 1px solid #00c0ef;
}

.advanced-search {
	margin-top:20px;
}

.search-result-count {
	padding: 20px 0;
	border-bottom: 1px solid #00c0ef;
	overflow: auto;
}

.search-result-count .pull-left {
	font-size: 16px;
	margin: 5px 0; 
}

.search-result-count .pagination {
	margin: 0;
}
/*******************************************************/

/*************** Animations ***************************/

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show {
	transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  transition: all linear 0.5s;
}

.animate-image-show.ng-hide-add{
	/*max-height: auto;*/
	/*transition:all linear 1s;*/
	opacity: 1;
	transition: opacity 0.5s;
}
.animate-image-show.ng-hide-remove {
	/*max-height: 0;
	transition:all linear 1s;*/
	opacity: 0;
  	transition: opacity 0.5s;
}

.animate-image-show {
	/*transition:all linear 1s;*/
	transition: opacity 0.5s;
}

.animate-image-show.ng-hide {
	/*transition:all linear 1s;*/
  	line-height: 0;
  	/*max-height: 0;*/
  opacity: 0;
  transition: opacity 0.5s;
}

/*************** Loading Bar **************/

#loading-bar .bar {
  background: #00A65A;
  height: 3px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #00A65A;
  border-left-color: #00A65A;
}
#loading-bar .peg {
  -moz-box-shadow: #00A65A 1px 0 6px 1px;
  -ms-box-shadow: #00A65A 1px 0 6px 1px;
  -webkit-box-shadow: #00A65A 1px 0 6px 1px;
  box-shadow: #00A65A 1px 0 6px 1px;
}

/*************************** Media Query ******************/
@media(min-width: 1000px){
	.box-center {
		width:50%;
		margin:0 auto;
	}
}

@media(max-width: 767px){
	.content-wrapper {
		margin-top: 100px;
	}
}