.padding-top20px  {
    padding-top: 20px;
}
.margin-bottom24px {
    margin-bottom: 24px !important;
}
.tab-pane {
	padding-top: 20px;
}


/*************pabitra starts*********/

.item{
	margin-top: 25px;
}
.user-list{
	margin-top: 25px;
}
.set-item-btn{
	margin-bottom: 30px;
}
.item-para{
	margin-top: 0px;
}

.today-item{
	margin-top: 22px;

}
.my-status{
	margin-top: 15px;
}

/*************pabitra ends*********/
