
<section class="content-header">
  <h1>
      Administrator Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goAdminHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="seperator">Quick View</div>
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-2 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{count.CustomersCount}}</h3>
          <p>Customers</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a ng-click="goViewCustomers()" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{count.BrandsCount}}</h3>
          <p>Brands</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goViewBrands()" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{count.ProductsCount}}</h3>
          <p>Products</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goViewProducts()" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{count.EventsCount}}</h3>
          <p>Unique Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goViewEvents()" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-2 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>{{count.OffersCount}}</h3>
          <p>Unique Offers</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goViewOffers()" class="small-box-footer">View All <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
  </div><!-- /.row -->
  <div class="seperator">Quick Add</div>
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{count.BrandsCount}}</h3>
          <p>Brands</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goAddBrands()" class="small-box-footer">Add More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{count.ProductsCount}}</h3>
          <p>Products</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goAddProducts()" class="small-box-footer">Add More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{count.EventsCount}}</h3>
          <p>Unique Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goAddEvents()" class="small-box-footer">Add More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>{{count.OffersCount}}</h3>
          <p>Unique Offers</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goAddOffers()" class="small-box-footer">Add More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div><!-- /.row -->
  <!-- Small boxes (Stat box) -->
  <div class="seperator">Quick Update</div>
  <div class="row">
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{count.BrandsCount}}</h3>
          <p>Brands</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goUpdateBrands()" class="small-box-footer">Update <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{count.ProductsCount}}</h3>
          <p>Products</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a ng-click="goUpdateProducts()" class="small-box-footer">Update <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>{{count.EventsCount}}</h3>
          <p>Unique Events</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goUpdateEvents()" class="small-box-footer">Update <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-blue">
        <div class="inner">
          <h3>{{count.OffersCount}}</h3>
          <p>Unique Offers</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a ng-click="goUpdateOffers()" class="small-box-footer">Update <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div><!-- /.row -->
</section><!-- /.content -->
