
<section class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="#"><b>Smart</b>Engine</a>
    </div>

    <div class="register-box-body">
      <p class="login-box-msg">Forgot Password</p>
      <form>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Full name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-4 pull-right">
            <button ng-click="goResetPassword()" class="btn btn-primary btn-block btn-flat">Proceed</button>
          </div><!-- /.col -->
        </div>
      </form>   
    </div><!-- /.form-box -->
  </div><!-- /.register-box -->
</section>