
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      Orders
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goCustomerHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Orders</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search Order" ng-model="orderSearch">
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="search-result-count">
        <div class="pull-left">Showing page <span><b>{{currentOrderPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
        <div class="pull-right">
          <uib-pagination total-items="totalOrderItems" ng-model="currentOrderPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
        </div>
      </div>
    </div>
  </div> <!-- /.box-header-->
  <!-- Info boxes -->
  <div class="row">
    <div class="col-lg-12">
      <ul class="orders-list">
        <li class="order-item fadeInOut" ng-show="orders.length" ng-repeat="order in orderItems = (orders.slice(((currentOrderPage-1)*itemsPerPage), ((currentOrderPage)*itemsPerPage))|filter:orderSearch)">
          <div class="order-img">
            <p><a ng-click=""><span class="order-number label label-offer">{{order.OrderID}}</span></a></p>
            <img src="resources/img/default-50x50.gif" alt="Product Image">
          </div>
          <div class="order-info">
            <a ng-click="" class="order-title">{{order.ProductName}}</a>
            <p><small class="order-brand"> {{order.BrandName}} </small></p>
            <p class="order-quantity">Quantity : {{order.OrderQuantity}}</p>
            <p class="order-offer">Offer Code : <span class="label label-warning">{{order.OfferCode}}</span></p> 
          </div>
          <div class="order-actions">
            <p class="order-price"> Rs.{{order.OrderPrice}} </p>
            <p class="order-status"><span class="label label-success">{{order.OrderStatus}} </span></p>
            <p class="order-delevery-date">Ordered on {{order.OrderDate}}</p>
            <div class="order-action-buttons">
              <button ng-click="" class="btn btn-primary btn-flat order-action-button">Track</button>
              <button class="btn btn-danger btn-flat order-action-button">Cancel</button> 
            </div>   
          </div>
        </li>
        <li class="empty-text no-items">{{emptyText}}</li>
      </ul>
      <div class="empty-text" ng-show="!orders.length">{{orderItemsEmptyText}}</div>
    </div>
  </div><!-- /.row -->

</section><!-- /.content -->
