
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      Order Details
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goCustomerHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Order Details</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-borderdetails box-bottom-border">
          <h3 class="box-title">Order ID : ODR0001</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="row no-margin bottom-blue-border orderdetails-wrapper">
            <div class="orderdetails-img col-lg-1">
              <img src="resources/img/default-50x50.gif" alt="Product Image">
            </div>
            <div class="orderdetails-info col-lg-3">
              <p class="orderdetails-title">Lenevo K3 Note </p>
              <p class="orderdetails-brand">Lenevo</p>
            </div>
            <div class="orderdetails-details col-lg-3">
              <p class="orderdetails-date"> Order Date : <span>25th October 2015 </span> </p>
              <p class="offer-code">Offer Code : <span class="label label-offer">OFR01245</span></p>
            </div>
            <div class="orderdetails-pricing col-lg-3">
              <p class="orderdetails-price"> Rs 495 </p>
              <p class="orderdetails-payment"> Payment by : <span>Cash on Delivery </span><span class="payment-status"><i class="fa fa-check-circle-o"></i></span></p>
            </div>
            <div class="orderdetails-action col-lg-2">
              <p><button class="btn btn-flat btn-primary">Return</button></p>
            </div>
          </div>
          <div class="row no-margin bottom-blue-border">
            <div class="orderdetails-status-wrapper col-lg-12">
              <div class="orderdetails-status orderdetails-approval col-lg-3">
                <div class="track-title text-center">Approval</div>
                <div class="status-line">
                  <div class="status-dots">
                  </div>
                </div>
                <div class="status-info">
                  Item approved on <span>25th October 2015</span>
                </div>
              </div>
              <div class="orderdetails-status orderdetails-processing col-lg-3">
                <div class="track-title text-center">Processing</div>
                <div class="status-line">
                  <div class="status-dots">
                  </div>
                </div>
                <div class="status-info">
                  Item processed on <span>26th October 2015</span>.
                </div>
              </div>
              <div class="orderdetails-status orderdetails-shipping col-lg-3">
                <div class="track-title text-center">Shipping</div>
                <div class="status-line">
                  <div class="status-dots">
                  </div>
                </div>
                <div class="status-info">
                  Item shipped on <span>27th October 2015</span>.
                </div>
              </div>
              <div class="orderdetails-status orderdetails-delivery col-lg-3">
                <div class="track-title text-center">Delivery</div>
                <div class="status-line">
                  <div class="status-dots">
                  </div>
                </div>
                <div class="status-info">
                  Item delivered on <span>28th October 2015</span>.
                </div>
              </div>
            </div>
          </div>
          <div class="row no-margin orderdetails-summary">
            <div class="col-lg-12">
              <div class="orderdetails-savings">Total Savings : <span>Rs 50</span></div> 
              <div class="orderdetails-total">Total : <span>Rs 495</span></div> 
            </div>
          </div>
        </div>
    </div>
  </div>
</section><!-- /.content -->
   