
<section class="content-header">
  <h1>
    Purchase
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goCustomerHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Purchase</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header box-bottom-border">
          <h3 class="box-title">Add items to cart to buy</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="product-search">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Product" ng-model="search.ProductName">
                </div>
              </div>
            </div>
            <div class="row advanced-search">
              <div class="col-md-12">
                <div class="checkbox checkbox-primary">
                  <input id="advancedSearch" type="checkbox" ng-model="checked" ng-change="search = checked ? search : ''">
                  <label for="advancedSearch">
                    Advanced Search
                  </label>
                </div>
              </div>
            </div>
            <div class="row animate-show" ng-show="checked">
              <div class="col-lg-4">
                  <div class="form-group">
                    <label>Select Product Category</label>
                    <select class="form-control" style="width: 100%;" ng-model="search.ProductCategory">
                      <option value = "">Select a category</option>
                      <option ng-repeat="productCategory in productCategories" value="{{productCategory.ProductCategoryName}}">{{productCategory.ProductCategoryName}}</option>
                    </select>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label>Select Brands</label>
                  <select class="form-control" data-placeholder="Select Brands" style="width: 100%;" ng-model = "search.BrandName">
                    <option value = "">Select a brand</option>
                    <option ng-repeat="brand in brands" value="{{brand.BrandName}}">{{brand.BrandName}}</option>
                  </select>
                </div><!-- /.form-group -->
              </div>
            </div>
          </div>
          <div class="search-result-count">
            <div class="pull-left">Showing page <span><b>{{currentPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
            <div class="pull-right">
              <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
            </div>
          </div>
          <ul class="shopping-cart-list">
            <li class="cart-item fadeInOut"  ng-repeat="product in customerOffers.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter:search">
              <div class="row">
                <div class="item-image col-md-1">
                  <img src="resources/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="col-md-4">
                  <p class="item-title" ng-click="goProductDetails(product)"> {{product.ProductName}} </p>
                  <p class="item-brand"> {{product.BrandName}} </p>
                  <p class="item-brand"> {{product.ProductCategory}} </p>
                  <p class="item-brand"> {{product.OfferDescription}} </p>
                  <p class="item-brand"> Valid till {{product.OfferEndDate}} </p>
                  <p class="item-offer"><span class="label label-success"> {{product.OfferDiscount}}% off </span>      <span class="label label-offer"> {{product.OfferCode}}</span></p> 
                </div>
                <div class="col-md-4">
                  <p class="item-old-price"> Rs {{product.Price}} </p>
                  <p class="item-price"> Rs {{product.Price - ((product.OfferDiscount / 100) * product.Price)}} </p>
                  <p class="item-savings"> Savings : <span>Rs {{((product.OfferDiscount / 100) * product.Price)}}</span></p>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quantity" class="control-label">Quantity</label>
                    <select class="form-control" id="quantity" ng-model="selectedQuantity" ng-change = "setQuantity(selectedQuantity)">
                      <option value="1" ng-selected = "true">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                  <button class="btn btn-warning btn-flat pull-right" ng-click="upsertCart(product)"> Add to Cart </button>
                </div>
              </div>
            </li>
            <li class="empty-text no-items">{{emptyText}}</li>
          </ul>
          <div class="empty-text" ng-show="!customerOffers.length">{{productItemsEmptyText}}</div>
          <div class="search-result-count">
            <div class="pull-left">Showing page <span><b>{{currentPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
            <div class="pull-right">
              <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
            </div>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
  </div>

</section><!-- /.content -->
 