
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Shopping Cart
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goCustomerHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Shopping Cart</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header box-bottom-border">
          <h3 class="box-title">Items in your cart</h3> 
        </div>
        <br/><br/>
        <div class="row no-margin">
          <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search Cart" ng-model="cartSearch">
              </div>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col-md-12">
            <div class="search-result-count">
              <div class="pull-left">Showing page <span><b>{{currentCartPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
              <div class="pull-right">
                <uib-pagination total-items="totalCartItems" ng-model="currentCartPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <ul class="shopping-cart-list">
            <li class="fadeInOut cart-item" ng-repeat="item in carts=(cartItems.slice(((currentCartPage-1)*itemsPerPage), ((currentCartPage)*itemsPerPage))|filter:cartSearch)">
              <div class="row">
                <div class="item-image col-md-1">
                  <img src="resources/img/default-50x50.gif" alt="Product Image">
                </div>
                <div class="col-md-4">
                  <p class="item-title" ng-click="goProductDetails(item)"> {{item.ProductName}} </p>
                  <p class="item-brand"> {{item.BrandName}} </p>
                  <p class="item-brand"> {{item.ProductCategory}} </p>
                  <p class="item-offer"> Offer Code : <span class="label label-offer"> {{item.OfferCode}}</span> </p> 
                </div>
                <div class="col-md-4">
                  <p class="item-offer"><span class="label label-success"> {{item.OfferDiscount}}% off </span> </p>
                  <p class="item-old-price"> Rs {{item.Price}} </p>
                  <p class="item-price"> Rs {{item.Price - ((item.OfferDiscount / 100) * item.Price)}} </p>
                  <p class="item-savings"> Savings : <span>Rs {{((item.OfferDiscount / 100) * item.Price)}}</span></p>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="quantity" class="control-label">Quantity</label>
                    <select class="form-control" id="quantity" ng-model="item.Quantity" ng-change = "upsertCart(item,1,$index)">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                  <button class="btn btn-primary btn-flat pull-right" ng-click = "removeCart(item,$index)"> Remove </button>
                </div>
              </div>
            </li>
            <li class="empty-text no-items">{{emptyText}}</li>
          </ul>
          <div class="empty-text" ng-show="!cartItems.length">{{cartItemsEmptyText}}</div>
        </div>
        <div class="box-footer">
          <button ng-hide="!cartItems.length" class="btn btn-warning btn-flat btn-lg pull-right" ng-click="confirmCart()"> Proceed to Checkout </button>
        </div>
      </div><!-- /.box -->
    </div>
  </div>
  <!-- Info boxes -->
</section><!-- /.content -->
