
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
      Update Profile Email
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goCustomerHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Profile</li>
    <li class="active">Update Email</li>
  </ol> 
</section>

<!-- Main content -->
<section class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Update your email</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" name="updateEmailForm" novalidate>
          <div class="box-body">
            <div class="form-group" ng-class="{ 'has-error' : updateEmailForm.email.$invalid && !updateEmailForm.email.$pristine }">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="customer.EmailID" required>
                <p ng-show="updateEmailForm.email.$invalid && !updateEmailForm.email.$pristine" class="help-block">Enter a valid email.</p>
              </div>
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <button ng-click="updateCustomerEmail()" ng-disabled="updateEmailForm.$invalid" class="btn btn-info pull-right">Update</button>
          </div><!-- /.box-footer -->
        </form>
      </div><!-- /.box -->
    </div>
  </div><!-- /.row -->

</section><!-- /.content -->
