
<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
      View Event Category
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goAdminHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>View</li>
    <li class="active">Event Category</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Event Category Details</h3>
          <br/><br/>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Event Category" ng-model="eventCategorySearch">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="search-result-count">
                <div class="pull-left">Showing page <span><b>{{currentEventCategoryPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
                <div class="pull-right">
                  <uib-pagination total-items="totalEventCategoryItems" ng-model="currentEventCategoryPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="eventCategoryDetails" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Event Category Id</th>
                <th>Event Category Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fadeInOut" ng-repeat="eventCategory in eventCategoryItems=(eventCategories.slice(((currentEventCategoryPage-1)*itemsPerPage), ((currentEventCategoryPage)*itemsPerPage)) | filter:eventCategorySearch)">
                  <td>{{eventCategory.EventCategoryID}}</td>
                  <td>{{eventCategory.EventCategoryName}}</td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          <div ng-hide="eventCategoryItems.length" class="empty-text no-items">{{emptyText}}</div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div>
</section><!-- /.content -->