
<!-- Content Header (Page header) -->
<section class="content-header">
   <h1>
      View Customers
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a ng-click="goAdminHome()"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>View</li>
    <li class="active">Customers</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">

      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Customer Details</h3>
          <br/><br/>
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" class="form-control" placeholder="Search Customer" ng-model="customerSearch">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="search-result-count">
                <div class="pull-left">Showing page <span><b>{{currentCustomerPage}}</b></span> out of <span><b>{{numPages}}</b></span> pages</div>
                <div class="pull-right">
                  <uib-pagination total-items="totalCustomerItems" ng-model="currentCustomerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></uib-pagination>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="customerDetails" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Anniversary</th>
                <th>Location</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Home Phone</th>
                <th>Home Address</th>
              </tr>
            </thead>
            <tbody>
              <tr class="fadeInOut" ng-repeat="customer in customerItems=(customers.slice(((currentCustomerPage-1)*itemsPerPage), ((currentCustomerPage)*itemsPerPage))|filter:customerSearch)">
                  <td>{{customer.CustomerID}}</td>
                  <td>{{customer.CustomerName}}</td>
                  <td>{{customer.DOB}}</td>
                  <td>{{customer.Gender}}</td>
                  <td>{{customer.Anniversary}}</td>
                  <td>{{customer.Location}}</td>
                  <td>{{customer.MobileNo}}</td>
                  <td>{{customer.EmailID}}</td>
                  <td>{{customer.HomePhone}}</td>
                  <td>{{customer.HomeAddress}}</td>
              </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          <div ng-hide="customerItems.length" class="empty-text no-items">{{emptyText}}</div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div>


</section><!-- /.content -->